Source: libradsec
Priority: extra
Maintainer: Sam Hartman <hartmans@debian.org>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, libconfuse-dev, libssl-dev, libevent-dev (>= 2.0), dh-autoreconf
Standards-Version: 3.9.1
Section: libs
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: git://git.project-moonshot.org/git/libradsec.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libradsec.git;a=summary

Package: libradsec-dev
Section: libdevel
Architecture: any
Depends: libradsec0 (= ${binary:Version})
Description: RADIUS library with RADSEc support 
 This is the development library for libradsec, a RADIUS library supporting RADIUS and RADSEC.

Package: libradsec0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: RADIUS library supporting RADSEC
 This is the shared library for a RADIUS library supporting RADSEC.
